h2{
    font-weight: 200;
    margin: 23px;
    font-size: 32px;
}

h1 {
    margin: 24px;
    font-size: 48px;
}

.Description {
    padding: 88px;
    margin: 16px;
}

.Logos {
    display: grid;
    grid-gap: 180px;
    grid-template-columns: 100px 100px;
    justify-content: end;
}

.Logos img {
    width: 200px;
}

.Mockups {
    width: 500px;
    justify-content: center;
}

.MockupsContainer 
{
    display: grid;
    justify-content: center;
}